@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Poppins:wght@400;500;600&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

/* navbar  */
.header-container {
  display: flex;
  /* background-color: red; */
  background-color: #9276de;
}
.logo-section {
  width: 45%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  min-height: 80px;
}
.logo-title {
  font-size: 60px;
  color: #e893cf;
  font-weight: bold;
}
.logo-section img {
  width: 80px;
}
.list-items-section {
  width: 45%;
  margin: 0 auto;
}
.list-items {
  display: flex;
  align-items: center;
  justify-content: space-between;

  min-height: 80px;
}
.list-items a {
  text-decoration: none;
  font-size: 20px;
  color: white;
}
.nav-button {
  padding: 10px 15px;
  background-color: #e893cf;
  border-radius: 5px;
}
.nav-button a {
  color: black;
}

/* banner  */
.banner-container {
  display: flex;
  flex-direction: row;
  width: 95%;
  margin: 0 auto;
  background-color: #e6e9eb;
  margin-top: 30px;
  border-radius: 10px;
}
.banner-text-container {
  min-height: 400px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.banner-image-container {
  width: 50%;
  padding: 15px;
  position: relative;
}
.banner-image-container img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.banner-title {
  font-size: 80px;
  background: linear-gradient(45deg, #9276de, #e893cf);
  background-clip: text;
  color: transparent;
}
.banner-sub-titile {
  font-size: 60px;
  font-family: "Dancing Script", cursive;
}
.common-button {
  padding: 10px 20px;
  /* background-color: #e893cf; */
  background: linear-gradient(45deg, #9276de, #e893cf);
  border-radius: 10px;
  color: white;
}
#icons {
  margin-bottom: 10px;
}
.discount-badge {
  width: 100px;
  height: 100px;
  background-color: #808010;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: absolute;
  bottom: 71%;
  left: 65%;
}

/* products */
.products {
  width: 95%;
  margin: 0 auto;
}
.products-title {
  font-size: 30px;
  text-align: center;
  margin-top: 20px;
}
.card {
  padding: 15px;
  background-color: #e6e9eb;
  border-radius: 10px;
  height: 500px;
}
.card img {
  width: 100%;
  height: 70%;
}
.title-with-icons {
  display: flex;
  justify-content: space-between;
}
.products-container {
  display: grid;
  grid-template-columns: ;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}
/* footer  */
.footer {
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9276de;
  margin-top: 25px;
}
